@charset "utf-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background: #fefeee;
}
#app {
  background: #444;
  border: 2px outset;
  width: 640px;
  height: 480px;
  margin: 0 auto;
}
#header {
  height: 30px;
  padding: 10px;
  background: #555;
}
#stars {
  float: left;
  display: inline-block;
  width: 100px;
}
#stars .counter {
  font-size: 25px;
  color: #fff;
  text-align: center;
  font-weight: bold;
}
#timer {
  display: inline-block;
  margin: auto 0 0 120px;
  width: 200px;
  color: #ff0;
}
#timer h2 {
  margin: auto;
  text-align: center;
}
#lifes {
  float: right;
  display: inline-block;
/* Life element */
}
#lifes .pl {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #fff;
  background: #ffc0cb;
  display: inline-block;
  margin: 2px 5px;
}
#start-block {
  width: inherit;
  height: 430px;
  position: relative;
/* Start button */
}
#start-block button {
  font-size: 18px;
  padding: 10px;
  position: absolute;
  top: 190px;
  left: 220px;
  width: 200px;
  height: 50px;
}
#canvas {
  width: inherit;
  height: 430px;
  position: relative;
  background: #333 url("../img/bg.jpg") no-repeat fixed top;
  overflow: hidden;
}
.ball {
  border-width: 4px;
  border-radius: 50%;
  position: absolute;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  background-image: url("../img/balls.png");
  top: 480px;
/* Start position left. */
/* Start position right. */
/* TYPE 1 ball decoration. */
/* TYPE 2 ball decoration */
/* TYPE 3 ball decoration */
/* TYPE 4 ball decoration */
/* TYPE 4 ball decoration */
/* 'Life' ball decoration. */
/* 'Time' ball decoration. */
/* 'Kill' ball decoration. */
}
.ball.left {
  left: -100px;
}
.ball.right {
  left: 740px;
}
.ball.greenyellow {
  background-position: -50px -150px;
}
.ball.chartreuse {
  background-position: 0 -150px;
}
.ball.lawngreen {
  background-position: -300px -100px;
}
.ball.lime {
  background-position: -250px -100px;
}
.ball.limegreen {
  background-position: -200px -100px;
}
.ball.palegreen {
  background-position: -150px -100px;
}
.ball.lightgreen {
  background-position: -100px -100px;
}
.ball.mediumspringgreen {
  background-position: -50px -100px;
}
.ball.springgreen {
  background-position: 0 -100px;
}
.ball.mediumseagreen {
  background-position: -300px -50px;
}
.ball.seagreen {
  background-position: -250px -50px;
}
.ball.forestgreen {
  background-position: -200px -50px;
}
.ball.green {
  background-position: -150px -50px;
}
.ball.darkgreen {
  background-position: -100px -50px;
}
.ball.yellowgreen {
  background-position: -50px -50px;
}
.ball.olivedrab {
  background-position: 0 -50px;
}
.ball.olive {
  background-position: -300px 0;
}
.ball.darkolivegreen {
  background-position: -250px 0;
}
.ball.mediumaquamarine {
  background-position: -200px 0;
}
.ball.darkseagreen {
  background-position: -150px 0;
}
.ball.lightseagreen {
  background-position: -100px 0;
}
.ball.darkcyan {
  background-position: -50px 0;
}
.ball.teal {
  background-position: 0 0;
}
.ball.gold {
  background-position: -250px -200px;
}
.ball.yellow {
  background-position: -200px -200px;
}
.ball.lightyellow {
  background-position: -150px -200px;
}
.ball.lemonchiffon {
  background-position: -100px -200px;
}
.ball.lightgoldenrodyellow {
  background-position: -50px -200px;
}
.ball.papayawhip {
  background-position: 0 -200px;
}
.ball.moccasin {
  background-position: -300px -150px;
}
.ball.peachpuff {
  background-position: -250px -150px;
}
.ball.palegoldenrod {
  background-position: -200px -150px;
}
.ball.khaki {
  background-position: -150px -150px;
}
.ball.darkkhaki {
  background-position: -100px -150px;
}
.ball.indianred {
  background-position: 0 -300px;
}
.ball.lightcoral {
  background-position: -300px -250px;
}
.ball.salmon {
  background-position: -250px -250px;
}
.ball.darksalmon {
  background-position: -200px -250px;
}
.ball.lightsalmon {
  background-position: -150px -250px;
}
.ball.crimson {
  background-position: -100px -250px;
}
.ball.red {
  background-position: -50px -250px;
}
.ball.firebrick {
  background-position: 0 -250px;
}
.ball.darkred {
  background-position: -300px -200px;
}
.ball.pink {
  background-position: 0 0;
}
.ball.lightpink {
  background-position: 0 0;
}
.ball.hotpink {
  background-position: 0 0;
}
.ball.deeppink {
  background-position: 0 0;
}
.ball.mediumvioletred {
  background-position: 0 0;
}
.ball.palevioletred {
  background-position: 0 0;
}
.ball.lightsalmon {
  background-position: 0 0;
}
.ball.coral {
  background-position: 0 0;
}
.ball.tomato {
  background-position: 0 0;
}
.ball.orangered {
  background-position: 0 0;
}
.ball.darkorange {
  background-position: 0 0;
}
.ball.orange {
  background-position: 0 0;
}
.ball.add_life {
  border-style: dashed;
  border-color: #90ee90;
}
.ball.add_time {
  border-style: dashed;
  border-color: #008000;
}
.ball.rem_life {
  border-style: dotted;
  border-color: #f00;
}
#end-block {
  width: inherit;
  height: 430px;
  position: relative;
  background: #ccc;
/* Restart button */
/* Block header. */
/* Final score message. */
}
#end-block button {
  font-size: 18px;
  padding: 10px;
  position: absolute;
  top: 190px;
  left: 220px;
  width: 200px;
  height: 50px;
}
#end-block h3 {
  position: absolute;
  width: 640px;
  top: 25px;
  font-size: 32px;
  text-align: center;
}
#end-block p {
  position: absolute;
  width: 640px;
  text-align: center;
  font-size: 20px;
  top: 130px;
}

/*# sourceMappingURL=../maps/style.css.map */
