@charset "utf-8";
@import "include/reset.styl";
body {
    background: #fefeee;
}
@import "include/app.styl";
@import "include/header.styl";
@import "include/start_block.styl";
@import "include/canvas.styl";
@import "include/end_block.styl";
