/* End game block. */
#end-block{
  width: inherit;
  height: 430px;
  position: relative;
  /* Restart button */
  button {
    font-size: 18px;
    padding: 10px;
    position: absolute;
    top: 190px;
    left: 220px;
    width: 200px;
    height: 50px;
  }
  /* Block header. */
  h3 {
    position: absolute;
    width: 640px;
    top: 25px;
    font-size: 32px;
    text-align: center;
  }
  /* Final score message. */
  p {
    position: absolute;
    width: 640px;
    text-align: center;
    font-size: 20px;
    top: 130px;
  }
}