/* Field with lifes. */
#lifes {
  float: right;
  display: inline-block;
  /* Life element */
  .pl {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
    background: pink;
    display: inline-block;
    margin: 2px 5px;
  }
}